# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @bitriderz/engineering @bitriderz/contributors

# BitRiderz must review any changes to Makefiles
**/Makefile   @bitriderz/engineering
**/Makefile.* @bitriderz/engineering

# BitRiderz must review any changes to GitHub actions
.github/*     @bitriderz/engineering

# BitRiderz must review any changes to standard context definition,
# but some changes can be rubber-stamped.
**/*.tf       @bitriderz/engineering @bitriderz/contributors @bitriderz/approvers
README.yaml   @bitriderz/engineering @bitriderz/contributors @bitriderz/approvers
README.md     @bitriderz/engineering @bitriderz/contributors @bitriderz/approvers
docs/*.md     @bitriderz/engineering @bitriderz/contributors @bitriderz/approvers

# BitRiderz Admins must review all changes to CODEOWNERS or the mergify configuration
.github/mergify.yml @bitriderz/admins
.github/CODEOWNERS  @bitriderz/admins
